.benefits-wrapper{
    display: flex;
    color: var(--black);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em;
    gap: 2em;
    text-align: center;
    width: 100%;
}

.benefits-wrapper h2{
    font-size: 2.7em;
    font-weight: 900;
}

.benefits{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2em;
}

.benefits-card{
    font-size: 2em;
    margin-top: 1em;
}

.benefits-card h3{
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 1em;
}

.benefits-card-text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.benefits-card-text span{
    color: var(--light-gray);
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .benefits{
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
}

@media screen and (min-width: 1024px) {
    .benefits{
        width: 70%;
        gap: 3em;
    }
}