.performance-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.performance{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    text-align: center;
}

.performance h2{
    font-size: 2.7em;
    font-weight: 800;
    margin-top: 1em;
}

.performance hr{
    background-color: var(--red);
    height: 2px;
    width: 60%;
    margin: 3em 0 3em 0;
}

.performance h3{
    font-size: 2.2em;
    font-weight: 600;
}

.performance p{
    color: var(--light-gray);
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 1em;
}

.performance-auto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
}

.performance-auto h2{
    font-size: 2.5em;
}

.performance-auto h3{
    font-size: 2em;
    font-weight: 600;
}

.performance-auto hr{
    background-color: var(--red);
    height: 2px;
    width: 60%;
    margin: 2.5em 0 2.5em 0;
}

.performance-auto p{
    color: var(--white);
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 1em;
}

.bold{
    color: black;
    font-weight: 700;
}

@media screen and (min-width: 425px) {
    .performance{
        padding: 3em 2em;
    }
    .performance hr{
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .performance{
        width: 70%;
    }
    .performance-auto{
        align-items: flex-start;
        width: 65%;
        text-align: left;
    }
}